NEXT_PUBLIC_API_URL=https://nexucon-backend.onrender.com
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
RESEND_API_KEY=
RESEND_FROM_EMAIL="Nexucon Email notifications <notifications@nexucon.net>"
NEXT_PUBLIC_APP_NAME="Nexucon Email notifications"
FRONTEND_URL=https://nexucon-frontend-8x3a.vercel.app
NEXT_PUBLIC_FRONTEND_URL=https://nexucon-frontend-8x3a.vercel.app

# Cloudflare R2 Storage for BIM & Documents
NEXT_PUBLIC_CLOUDFLARE_R2_BUCKET_NAME=
NEXT_PUBLIC_CLOUDFLARE_R2_API_URL=
NEXT_PUBLIC_CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=

# Google Cloud Service Account Translation API
GOOGLE_SERVICE_ACCOUNT_PROJECT_ID="serious-water-469715-f9"
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL="nexucon-language@serious-water-469715-f9.iam.gserviceaccount.com"
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""

# Google Cloud Service Account Google Meet & Calendar API
GOOGLE_MEETING_PROJECT_ID="serious-water-469715-f9"
GOOGLE_MEETING_CLIENT_EMAIL="nexucon-meeting@serious-water-469715-f9.iam.gserviceaccount.com"
GOOGLE_MEETING_PRIVATE_KEY=""
